<div >
  <form [formGroup]="empForm">
    <mat-form-field appearance="fill">
      <mat-label>ID</mat-label>
      <input formControlName="id" [(ngModel)]="employee.id" matInput placeholder="Employee ID">
    </mat-form-field>
    <br/>
    <mat-form-field appearance="fill">
      <mat-label>Name</mat-label>
      <input formControlName="name" [(ngModel)]="employee.name"  matInput placeholder="Name">
    </mat-form-field>
    <br/>
    <mat-form-field appearance="fill">
      <mat-label>Age</mat-label>
      <input formControlName="age" [(ngModel)]="employee.age"  matInput placeholder="Age">
    </mat-form-field>
    <br/>
    <button mat-raised-button color="primary" (click)=saveEmployee(employee)>Save</button>
  </form>
  <mat-divider></mat-divider>
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->
  

  <!-- ID Column -->
  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef> ID </th>
    <td mat-cell *matCellDef="let element"> {{element.id}} </td>
  </ng-container>
    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef> Name </th>
      <td mat-cell *matCellDef="let element"> {{element.name}} </td>
    </ng-container>
  
    <!-- Weight Column -->
    <ng-container matColumnDef="age">
      <th mat-header-cell *matHeaderCellDef> Age </th>
      <td mat-cell *matCellDef="let element"> {{element.age}} </td>
    </ng-container>
   
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>


<router-outlet></router-outlet>